###
# Unity folders and files
###
Assets/UI/Screen Models/
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
Logs/

#specification
Assets/Specifications/Resources

# addresables
*addressables_content_state.bin

# python
python-envs/*
results/*

# file on crash reports
sysinfo.txt

# Visual Studio cache directory
.vs/
Assets/Responces/
# Jetbrains cache directory
.idea/

# Visual Studio Code
.vscode/

# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

###

Assets/GeneratedLocalRepo*
Assets/SharedAssets/Responses/*
Assets/ThirdAssets/Nima*.meta